#footer {
  margin-top: 10vmax;
  padding: 2vmax;
  background-color: rgb(34, 33, 33);
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
}

.leftFooter {
  width: 100%;
  text-align: center;
}

.leftFooter > h1 {
  font-size: 3rem;
  color: #eb4034;
}
.leftFooter > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
}

.rightFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 1.1rem;
}

.rightFooter > div > img {
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.rightFooter > div {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}


@media (max-width: 800px) {
  #footer{
    flex-wrap: wrap;
  }
}